<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <div  kendo-grid="vm.rolesGrid" k-options="vm.rolesGridOptions"></div>
    </div>
  </section>
</div>
