<div class="view">
  <form class="form-login" role="form">
    <h2 class="form-login-heading">{{vm.title}}</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="vm.registration.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="vm.registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="vm.registration.confirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="vm.registerUser()">Submit</button>
    <div data-ng-hide="vm.message == ''" data-ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
      {{vm.message}}
    </div>
  </form>
</div>
