<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <div <div kendo-treeview="vm.orgNodesTreeView" k-options="vm.orgNodesTreeViewOptions"></div>
    </div>
  </section>
</div>