<div class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{ngDialogData.Header}}</strong></div>
  <div class="panel-body">
    <div ng-show="ngDialogData.Warning">
    <p><div class="bg-warning" style="padding: 5px">{{ngDialogData.Warning}}</div></p> <!-- Optional, can be better designed, quick fix-->
    </div>
    <p>{{ngDialogData.Message}}</p>
    <div class="row">&nbsp</div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <button name="yes" class="btn btn-primary" data-ng-click="confirm('Yes')">Yes</button>
      <button name="no" class="btn btn-default" data-ng-click="closeThisDialog('No')">No</button>
    </div>
  </div>
</div>


