<div class="panel panel-default">
  <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{ngDialogData.Header}}</strong></div>
  <div class="panel-body">
    <p>{{ngDialogData.Message}}</p>
    <div class="row">&nbsp</div>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <button name="ok" class="btn btn-primary" data-ng-click="confirm()">Ok</button>
    </div>
  </div>
</div>


