<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <form name="editForm" class="form-horizontal" novalidate>
        <fieldset>

          <div class="control-group">
            <button name="save" class="btn btn-primary" type="submit"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>
          <br>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                User Details
              </h3>
            </div>
            <div class="panel-body">

              <div class="control-group">
                <label>User Name</label>
                <input name="userName" type="text" class="form-control" required data-ng-model="vm.user.UserName">

                <div ng-if="editForm.$submitted || editForm.userName.$touched" ng-messages="editForm.userName.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply a username</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Role Membership
              </h3>
            </div>
            <div class="panel-body">
              <div kendo-grid="vm.rolesGrid" k-options="vm.rolesGridOptions"></div>
            </div>
          </div>

          <div class="control-group">
            <button name="save" type="submit" class="btn btn-primary"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>

        </fieldset>
      </form>
    </div>
  </section>


</div>


