.nav-header a {
  text-decoration: none;
}

.nav-header {
  margin-right: 2px;
  margin-bottom: 5px;
}

.nav-header-active {
  background-color: #bababa;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0px;
}

.nav-header-complete {
  background-color: #d7d7d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0px;
}

.nav-header-active a {
  color: white;
}

.nav-header-complete a {
  color: white;
}

input[type="text"] {
   width: 500px;
 }

input[type="password"] {
  width: 500px;
}

input[type="select"] {
  width: 500px;
}

select, option { width: 500px !important; }

.button-submit {
  width: 500px;
}

.top-buffer-small { margin-top:10px; }

.top-buffer-large { margin-top:20px; }

.stage-icon-panel {
  width: 50px;
  height: 50px;
  background: #FB6B5B;
  border: 0px;
  border-radius: 50%;
  margin-left: 20px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.stage-icon-undone {
  width: 50px;
  height: 50px;
  background: #EAEAEA;
  border: 0px;
  border-radius: 50%;
  margin-left: 20px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.stage-icon-panel-success {
  width: 50px;
  height: 50px;
  background: #92CF5C;
  border: 0px;
  border-radius: 50%;
  margin-left: 20px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.stage-icon {
  margin-top: 18px;
}

.stage-title {
  text-align: center;
  text-justify: distribute;
  float: none;
  font-weight: 500;
}

@media all {
  .stage:after {
    content: none;
  }

  .stage:before {
    content: none;
  }

  .stage-undone:after {
    content: none;
  }

  .stage-undone:before {
    content: none;
  }

  .stage-success:after {
    content: none;
  }

  .stage-success:before {
    content: none;
  }
}

@media (min-width: 1880px) {

  .stage:after {
    position: absolute;
    width: 72px;
    height: 5px;
    background: #FB6B5B;
    border: 0px;
    margin-left: 70px;
    display: block;
    text-align: center;
    margin-top: -50px;
    content: '';
  }

  .stage:before {
    position: absolute;
    width: 80px;
    height: 5px;
    background: #FB6B5B;
    border: 0px;
    margin-left: -55px;
    margin-left: -60px;
    display: block;
    text-align: center;
    margin-top: 25px;
    content: '';
  }

  .stage-success:after {
    position: absolute;
    width: 72px;
    height: 5px;
    background: #92CF5C;
    border: 0px;
    margin-left: 70px;
    display: block;
    text-align: center;
    margin-top: -50px;
    content: '';
  }

  .stage-success:before {
    position: absolute;
    width: 80px;
    height: 5px;
    background: #92CF5C;
    border: 0px;
    margin-left: -55px;
    margin-left: -60px;
    display: block;
    text-align: center;
    margin-top: 25px;
    content: '';
  }

  .stage-undone:after {
    position: absolute;
    width: 72px;
    height: 5px;
    background: #EAEAEA;
    border: 0px;
    margin-left: 70px;
    display: block;
    text-align: center;
    margin-top: -50px;
    content: '';
  }

  .stage-undone:before {
    position: absolute;
    width: 80px;
    height: 5px;
    background: #EAEAEA;
    border: 0px;
    margin-left: -55px;
    margin-left: -60px;
    display: block;
    text-align: center;
    margin-top: 25px;
    content: '';
  }

  .stage.no-after:after {
    content: none;
  }

  .stage.no-before:before {
    content: none;
  }

  .stage-success.no-after:after {
    content: none;
  }

  .stage-success.no-before:before {
    content: none;
  }

  .stage-undone.no-after:after {
    content: none;
  }

  .stage-undone.no-before:before {
    content: none;

  }

  .stage {
    float: left;
    width: 200px;
  }

  .stage-undone {
    float: left;
    width: 200px;
  }

  .stage-success {
    float: left;
    width: 200px;
  }

  .button-panel {
    margin-top: 20px;
  }

  .stage-container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  .badge {
    margin-left: 0px;
    margin-top: 16px;
    background-color: white;
    color: #FB6B5B;
  }

  .badge-undone {
    margin-left: 0px;
    margin-top: 16px;
    background-color: white;
    color: #8d8d8d;
  }

  .badge-success {
    margin-left: 0px;
    margin-top: 16px;
    background-color: white;
    color: #92CF5C;
  }

  .browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  body {
    padding: 0;
  }

  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Custom page header */
  .header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
  }

  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }

  .container-narrow > hr {
    margin: 30px 0;
  }

  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  /* Supporting marketing content */
  .marketing {
    margin: 40px 0;
  }

  .marketing p + h4 {
    margin-top: 28px;
  }

  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .container {
      max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }

    /* Space out the masthead */
    .header {
      margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }
}

