<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <form name="editForm" class="form-horizontal" novalidate>
        <fieldset>

          <div class="control-group">
            <button name="save" class="btn btn-primary" type="submit"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>
          <br>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                User Details
              </h3>
            </div>
            <div class="panel-body">

              <div class="control-group">
                <label>User Name</label>
                <input name="userName" type="text" class="form-control" required data-ng-model="vm.user.UserName">

                <div ng-if="editForm.$submitted || editForm.userName.$touched" ng-messages="editForm.userName.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply a username</div>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label">Password</label>
                <input type="password"
                       class="form-control"
                       name="password"
                       minlength="6"
                       maxlength="20"
                       ng-model="vm.user.Password"
                       password-characters-validator
                       required/>

                <div ng-messages="editForm.password.$error" ng-if="editForm.$submitted || editForm.password.$touched"
                     class="bg-warning">
                  <div ng-message="required">You did not enter your password</div>
                  <div ng-message="minlength">Your password must be longer than 6 characters</div>
                  <div ng-message="maxlength">Your password is too long</div>
                  <div ng-message="passwordCharacters">Your password must contain a number, uppercase and lowercase
                    letters as well as one or more special characters
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Confirm Password</label>
                <input type="password"
                       class="form-control"
                       name="confirmPassword"
                       required
                       ng-model="vm.user.ConfirmPassword"
                       compare-to-validator="editForm.password"/>

                <div ng-if="editForm.$submitted || editForm.confirmPassword.$touched || editForm.password.$touched"
                     ng-messages="editForm.confirmPassword.$error"
                     class="bg-warning">
                  <div ng-message="required">You must enter a confirmation password</div>
                  <div ng-message="compareTo">Both passwords must match</div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Role Membership
              </h3>
            </div>
            <div class="panel-body">
              <div kendo-grid="vm.rolesGrid" k-options="vm.rolesGridOptions"></div>
            </div>
          </div>

          <div class="control-group">
            <button name="save" type="submit" class="btn btn-primary"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>

        </fieldset>
      </form>
    </div>
  </section>


</div>


