<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <form name="editForm" class="form-horizontal" novalidate>
        <fieldset>

          <div class="control-group">
            <button name="save" class="btn btn-primary" type="submit"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>
          <br>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                User Details
              </h3>
            </div>
            <div class="panel-body ">

              <div class="control-group ">
                <label>User Name</label>
                <input name="userName" type="text" class="form-control" required data-ng-model="vm.user.UserName">
                <div ng-if="editForm.$submitted || editForm.userName.$touched" ng-messages="editForm.userName.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply a username</div>
                </div>
              </div>
              <div class="control-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" required data-ng-model="vm.user.Email">
                <div ng-if="editForm.$submitted || editForm.email.$touched" ng-messages="editForm.email.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply an email</div>
                  <div ng-message="email">You must supply a valid email</div>
                </div>
              </div>
              <div class="control-group">
                <label>First Name</label>
                <input name="firstName" type="text" class="form-control" required data-ng-model="vm.user.FirstName">
                <div ng-if="editForm.$submitted || editForm.firstName.$touched" ng-messages="editForm.firstName.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply a first name</div>
                </div>
              </div>
              <div class="control-group">
                <label>Last Name</label>
                <input name="lastName" type="text" class="form-control" required data-ng-model="vm.user.LastName">
                <div ng-if="editForm.$submitted || editForm.lastName.$touched" ng-messages="editForm.lastName.$error"
                     class="bg-warning">
                  <div ng-message="required">You must supply a last name</div>
                </div>
              </div>

            </div>
          </div>

          <div class="control-group">
            <button name="save" type="submit" class="btn btn-primary"
                    ng-disabled="editForm.$invalid || !editForm.$dirty"
                    data-ng-click="vm.save()">Save
            </button>
            <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
          </div>

        </fieldset>
      </form>
    </div>
  </section>


</div>


