<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Angular Starter</title>

    <!-- build:css(.) assets/css/bower.css -->
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet">

    <!--Kendo UI CSS-->
    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.common-bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.bootstrap.min.css">

     <!-- ngDialog CSS -->
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
    <!-- endbuild -->

    <!-- build:css assets/css/assets.css -->
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="assets/font-awesome-4.3.0/css/font-awesome.min.css">
    <!-- endbuild -->

    <!-- build:css assets/css/main.css -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/navmenu.css">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-cloak data-ng-controller="NavbarController as vm">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <div class="navmenu yamm navmenu-default navmenu-fixed-left offcanvas-sm" >
      <a class="navmenu-brand visible-md visible-lg" ng-click="vm.redirectToUsers()" href="javascript: void(0)">{{ vm.appTitle }} <span style="font-size: 10px">{{vm.versionInfo.ApiVersion}}</span></a>

      <ul id="nav-panel-bar" kendo-panel-bar k-options="vm.navBarOptions">
        <li access-claim-group data-ng-hide="!vm.authentication.isAuth">Group 1
          <ul>
            <li><a access-claim="/option1" href="#/option1">Option 1</a></li>
            <li><a access-claim="/option2" href="#/option2">Option 2</a></li>
          </ul>
        </li>
        <li access-claim-group data-ng-hide="!vm.authentication.isAuth">Examples
          <ul>
            <li><a href="#/treeListView">Tree List View</a></li>
            <li><a href="#/treeView">Tree View</a></li>
            <li><a href="#/orders">Master Detail</a></li>
            <li><a access-claim="/option4" href="#/option4">Option 4</a></li>
          </ul>
        </li>
        <li access-claim-group data-ng-hide="!vm.authentication.isAuth">Security
          <ul>
            <li><a access-claim="/users" href="#/users">Users</a></li>
            <li><a access-claim="/roles" href="#/roles">Roles</a></li>
          </ul>
        </li>
        <li data-ng-hide="!vm.authentication.isAuth">Account
          <ul>
            <li><a href="#/manageAccount">Manage Account</a></li>
            <li><a href="#/changePassword">Change Password</a></li>
            <li><a href="#" data-ng-click="vm.logOut()">Logout</a></li>
          </ul>
        </li>
        <li data-ng-hide="vm.authentication.isAuth"><a href="#/login">Login</a></li>
      </ul>

    </div>

    <div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ vm.appTitle }} <span style="font-size: 10px">{{vm.versionInfo.ApiVersion}}</span></a>
    </div>

    <div class="container-fluid">
      <div style="padding-top:10px" data-ng-view id="ng-view"></div>
    </div><!-- /.container -->


    <!-- build:js(.) assets/js/bower.js -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.all.min.js"></script>
    <script src="bower_components/kendo-ui/js/jszip.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.timezones.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/node-uuid/uuid.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js assets/js/assets.js -->
    <script src="assets/js/fileUploader.js"></script>
    <!-- NB!!! LINQ must always come last -->
    <script src="assets/js/linq.min.js"></script>
    <!-- endbuild -->

    <script>
      $(function() {
        window.prettyPrint && prettyPrint()
        $(document).on('click', '.yamm .dropdown-menu', function(e) {
          e.stopPropagation()
        })
      })
    </script>

    <!-- Load custom scripts via RequireJS -->
    <script src="bower_components/requirejs/require.js" data-main="requireData"></script>

  </body>
</html>
