<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong></div>
    <div class="panel-body">
      <div class="control-group">
        <div class="controls">
          <button name="save" class="btn btn-default" data-ng-click="vm.addRoot()">Add Root</button>
        </div>
        <br>
      </div>
      <div kendo-treelist="vm.treeList" k-options="vm.treeListOptions"
        ></div>
    </div>
  </section>
</div>