<div class="panel panel-default">
  <div class="panel-heading">
    <strong>
      <span class="glyphicon glyphicon-th"></span> Order Line Details</strong>
  </div>
  <div class="panel-body">
    <form name="editForm" class="form-horizontal" novalidate>
      <fieldset>
        <div class="control-group">
          <label class="control-label">Description</label>
          <input name="description" type="text" class="form-control" required data-ng-model="vm.currentOrderLine.Description" check-Unique="vm.orderLineDescriptionHasDuplicates">
          <div ng-if="editForm.$submitted || editForm.description.$touched" ng-messages="editForm.description.$error" class="bg-warning">
            <div ng-message="required">You must supply a description</div>
            <div ng-message="checkUnique">Description must be unique</div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Qty</label>
          <input type="number" data-ng-model="vm.currentOrderLine.Qty">
        </div>
        <div class="control-group">
          <label class="control-label">Price</label>
          <input type="number" data-ng-model="vm.currentOrderLine.Price">
        </div>
      </fieldset>
    </form>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-right">
      <button name="save" class="btn btn-primary" ng-disabled="editForm.$invalid || !editForm.$dirty" data-ng-click="confirm('Save')">Save</button>
      <button name="cancel" class="btn btn-default" data-ng-click="closeThisDialog('Cancel')">Cancel</button>
    </div>
  </div>
</div>