<div class="view">
  <section class="panel panel-default">
    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> {{vm.title}}</strong>
    </div>
    <div class="panel-body">
      <form name="editForm" class="form-horizontal" novalidate>
        <fieldset>
          <div class="control-group">
            <div class="controls">
              <button name="save" class="btn btn-primary" ng-disabled="editForm.$invalid || !editForm.$dirty" data-ng-click="vm.save()">Save</button>
              <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
            </div>
            <br>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Order Details</h3>
            </div>
            <div class="panel-body">
              <div class="control-group">
                <label class="control-label">Name</label>
                <input name="name" type="text" class="form-control" required data-ng-model="vm.order.Name">
                <div ng-if="editForm.$submitted || editForm.name.$touched" ng-messages="editForm.name.$error" class="bg-warning">
                  <div ng-message="required">You must supply a name</div>
                </div>
              </div>
             <!-- <div class="control-group">
                <label class="control-label">Order Date</label>
                <br>
                <input name="orderDate" class="form-control" onkeydown="javascript:return false;" kendo-date-picker required k-format="'dd/MM/yyyy'"
                ng-model="vm.order.OrderDateString" k-ng-model="vm.order.OrderDate" />
                <br>
                <div ng-if="editForm.$submitted || editForm.orderDate.$touched" ng-messages="editForm.orderDate.$error" class="bg-warning">
                  <div ng-message="required">You must supply an Order Date</div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Order Line Details</h3>
            </div>
            <div class="panel-body">
              <div kendo-grid="vm.orderLinesGrid" k-options="vm.orderLinesGridOptions"></div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button name="save" class="btn btn-primary" ng-disabled="editForm.$invalid || !editForm.$dirty" data-ng-click="vm.save()">Save</button>
              <button name="cancel" class="btn btn-default" data-ng-click="vm.cancel()">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</div>